html {
	font-size: 62.5%;
  }

body {
	background-color:#767474;
	font-family: "Share Tech", sans-serif;
  }

.news-image {
	width: 100%;
	margin: auto;
	display: block;
  }

.lines-image {
	width: 18%;
	position: absolute;
	top: 50%;
	left: 40%;
	display: block;
	z-index: 1;
  }


.container {
	width: 100%;
	height: 100%;
	position: relative;
}

.return-game {
	position: absolute;
	top: 0%;
	left: 0%;
	font-size: clamp(0.5rem, 3vw - 0.75rem, 2.4rem);
	color: #FFFFFF;
	text-decoration: none;

}

h1 {
	font-weight: 400;
	font-style: normal;
	position: absolute;
	top: 1.5%;
	left: 38%;
	font-size: clamp(0.5rem, 3vw - 0.85rem, 2.8rem);
	padding: 20px;
}

/* Place each news without overlapping*/
#poverty_news #news1{position: absolute; top: 43%; left: 10%;}
#poverty_news #news2{position: absolute; top: 60%; left: 10%;}
#poverty_news #news3{position: absolute; top: 77%; left: 10%;}

#env_news #news1{position: absolute; top: 43%; left: 63%;}
#env_news #news2{position: absolute; top: 60%; left: 63%;}
#env_news #news3{position: absolute; top: 77%; left: 63%;}

/* When id exists use these */
/* #poverty_and_enviroment_news_1{position: absolute; top: 30%; left: 40%;}
#poverty_and_enviroment_news_2{position: absolute; top: 45%; left: 40%;}
#poverty_and_enviroment_news_3{position: absolute; top: 60%; left: 40%;}
#poverty_and_enviroment_news_4{position: absolute; top: 75%; left: 40%;} */



@media (min-width: 1001px) {

	.news-contents{
		width: 25%;
		height: 15%;
		text-align: center;
		border-radius: 0px 16px;
		background: #FFFFFF;
		position: absolute;

	}

	.news-contents:hover{
		transform: scale(1.5);
		z-index: 2;
	}

	.news-text{
		width: 90%;
		max-height: 80%;
		overflow: hidden;
		text-overflow: ellipsis;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		
		font-size: 1.8rem;
		text-decoration: none;
	}

	/* Place news number at the top left corner */
	#poverty_news #news1::before{content: " • news1"; position: absolute; left: 0px; font-size: 1.6rem;}
	#poverty_news #news2::before{content: " • news2"; position: absolute; left: 0px; font-size: 1.6rem;}
	#poverty_news #news3::before{content: " • news3"; position: absolute; left: 0px; font-size: 1.6rem;}

	#env_news #news1::before{content: " • news1"; position: absolute; left: 0px; font-size: 1.6rem;}
	#env_news #news2::before{content: " • news2"; position: absolute; left: 0px; font-size: 1.6rem;}
	#env_news #news3::before{content: " • news3"; position: absolute; left: 0px; font-size: 1.6rem;}

	
}


@media (min-width: 768px) and (max-width: 1000px) {
	.news-contents{
		width: 25%;
		height: 15%;
		text-align: center;
		border-radius: 0px 16px;
		background: #FFFFFF;
		position: absolute;
	}

	.news-text{
		width: 90%;
		max-height: 80%;
		overflow: hidden;
		text-overflow: ellipsis;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		
		font-size: 1.2rem;
		text-decoration: none;
	}

	/* Place news number at the top left corner */
	#poverty_news #news1::before{content: " • news1"; position: absolute; left: 0px; font-size: 1rem;}
	#poverty_news #news2::before{content: " • news2"; position: absolute; left: 0px; font-size: 1rem;}
	#poverty_news #news3::before{content: " • news3"; position: absolute; left: 0px; font-size: 1rem;}

	#env_news #news1::before{content: " • news1"; position: absolute; left: 0px; font-size: 1rem;}
	#env_news #news2::before{content: " • news2"; position: absolute; left: 0px; font-size: 1rem;}
	#env_news #news3::before{content: " • news3"; position: absolute; left: 0px; font-size: 1rem;}


	
}

         

@media (min-width: 320px) and (max-width: 767px) {
	.news-contents{
		width: 25%;
		height: 15%;
		text-align: center;
		border-radius: 0px 16px;
		background: #FFFFFF;
		position: absolute;
	}

	.news-text{
		width: 90%;
		max-height: 80%;
		overflow: hidden;
		text-overflow: ellipsis;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		
		font-size: 0.6rem;
		text-decoration: none;
	}
	
	/* Place news number at the top left corner */
	#poverty_news #news1::before{content: " • news1"; position: absolute; left: 0px; font-size: 0.5rem;}
	#poverty_news #news2::before{content: " • news2"; position: absolute; left: 0px; font-size: 0.5rem;}
	#poverty_news #news3::before{content: " • news3"; position: absolute; left: 0px; font-size: 0.5rem;}

	#env_news #news1::before{content: " • news1"; position: absolute; left: 0px; font-size: 0.5rem;}
	#env_news #news2::before{content: " • news2"; position: absolute; left: 0px; font-size: 0.5rem;}
	#env_news #news3::before{content: " • news3"; position: absolute; left: 0px; font-size: 0.5rem;}
}

/* Text wrapping ref: https://qiita.com/KazuyoshiGoto/items/4f88e87bb12ff38d1c4e */