<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <script language="javascript" type="text/javascript" src="{% static 'app_env_protect_game/libraries/p5.min.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'app_env_protect_game/game.js' %}"></script>
</head>
<body>
    <p>テンプレートページ</p>
        <div style="display: none;" id="env_news">
            {% for article in data_news_environment.items %} 
            <a href="{{ article.link }}" target="_blank">{{ article.title }}</a><br>
            {% endfor %}
        </div>
        <div style="display: none;" id="poverty_news">
            {% for article in data_news_poverty.items %} 
            <a href="{{ article.link }}" target="_blank">{{ article.title }}</a><br>
            {% endfor %}
        </div>
</body>
</html>