{% load static %}
<script language="javascript" type="text/javascript" src="{% static 'app_env_protect_game/main.js' %}"></script>
    <h1>News</h1>
    <div id="env_news">
        {% for article in news_environment.items %} 
        <a href="{{ article.link }}" target="_blank">{{ article.title }}</a><br>
        {% endfor %}
    </div>
    <div id="poverty_news">
        {% for article in news_poverty.items %} 
        <a href="{{ article.link }}" target="_blank">{{ article.title }}</a><br>
        {% endfor %}
    </div>