<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height"">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app_env_protect_game/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link rel="icon" type="image/ico" href="{% static 'app_env_protect_game/img/favicon.ico' %}">
    <title>News</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6S1K8BV4DG"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-6S1K8BV4DG');
    </script>
</head>
<body>
    <div class="container">
        <img class="news-image" src="{% static 'app_env_protect_game/img/NewsPage.png' %}">
        <img class="lines-image" src="{% static 'app_env_protect_game/img/lines.png' %}">
        <h1>How difficult was it to balance Green and Greed?<br>
            This is not just a game...<br>
            Here are real-life examples you can learn<br>
            How would you change your action after playing this game?</h1>
        <a class="return-game" href="{% url 'app_env_protect_game:index' %}">← Return to the game</a>
        <!-- <div id="poverty_and_enviroment_news">
            {% for article in poverty_and_enviroment_news.items %} 
                <div class="news-contents" id="poverty_and_enviroment_news_{{ article.id }}">
                    <a class="news-text" href="{{ article.link }}" target="_blank">{{ article.title }}</a>
                </div>
            {% endfor %}
        </div> -->
        <a class="question-mark">?</a>
        <div id="env_news">
            {% for article in poverty_news.items %}
                <div class="news-contents" id="{{ article.id }}">
                    <a class="news-text" href="{{ article.link }}" target="_blank">{{ article.title }}</a>
                </div>
            {% endfor %}
        </div>
        <div id="poverty_news">
            {% for article in env_news.items %} 
                <div class="news-contents" id="{{ article.id }}">
                    <a class="news-text" href="{{ article.link }}" target="_blank">{{ article.title }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- <a href="{% url 'app_env_protect_game:index' %}">ゲーム画面に戻る</a> -->
    <script language="javascript" type="text/javascript" src="{% static 'app_env_protect_game/main.js' %}"></script>
</body>
</html>